{{#each this}}<li class="card-film" data-id="{{id}}">

	<img class="card-img" src="{{imgSrc}}" alt="poster of film">
	<h2 class="card-title">{{title}}</h2>
	<div class="card-info">
		<p class="genre-id">{{genres}}</p>
		<p class="card-symb">|</p>
		<p class="film-date">{{releaseDate}}</p>
		<div class="card-raiting">
			<p class="film-raiting">{{voteAverage}}</p>
		</div>
	</div>

</li>{{/each}}