{{#each this}}<li class="card-film">
	<picture>
		<source srcset="{{imgSrc}}" type="image/jpg">
		<img class="card-img" src="{{noPoster}}" alt="poster of {{title}} film" data-id="{{id}}">
	</picture>
	<h2 class="card-title">{{title}}</h2>
	<div class="card-info">
		<span class="genre-id" data-search="ok" data-id="{{genreIdFirst}}">{{genresFirst}}</span>
		<span class="genre-id" data-search="ok" data-id="{{genreIdSecond}}">{{genresSecond}}</span>
		<span class="genre-id" data-search="ok" data-id="{{genreIdThird}}">{{genresThird}}</span>
		{{!-- <p class="genre-id">{{genres}}</p> --}}
		<p class="card-symb">|</p>
		<p class="film-date genre-id" data-set="releaseDate">{{releaseDate}}</p>
		<div class="card-raiting">
			<p class="film-raiting">{{voteAverage}}</p>
		</div>
	</div>

</li>{{/each}}